<section id="publications" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2 class="section-heading">Publications </h2>
                    <hr class="style-one">
                    <h4 class="section-subheading">Journal Papers:</h4>
                    <h3 class="section-subheading  text-muted">
                    <ul>
                      <li>Yuriy Zacchia Lun, Alessandro D'Innocenzo, Francesco Smarra, Ivano Malavolta, Maria Domenica Di Benedetto (2019).<br>
                          <a style="color:black" href="https://doi.org/10.1016/j.jss.2018.12.006" target="_blank">State of the art of cyber-physical systems security: An automatic control perspective</a>.<br>
                          Journal of Systems and Software, 149, pp. 174 - 216. (See
                          <a style="color:black" target="_blank" href="pdfs/JSS_2019_149_174–216_post-print.pdf">pdf</a> of a post-print that corrects errata introduced during the publishing process,
                          <a style="color:black" target="_blank" href="bibs/JSS_2019_149_174.bib">bib</a>)</li>
                      <li>Yuriy Zacchia Lun, Alessandro D'Innocenzo, Maria Domenica Di Benedetto (2019).<br>
                          <a style="color:black" href="https://doi.org/10.1016/j.automatica.2019.03.031" target="_blank">Robust stability of polytopic time-inhomogeneous Markov jump linear systems</a>.<br>
                          Automatica, 105, pp. 286 - 297. (See
                          <a style="color:black" target="_blank" href="pdfs/Automatica_2019_105_286-297_post-print.pdf">pdf</a>,
                          <a style="color:black" target="_blank" href="bibs/Automatica_2019_105_286-297_post-print.bib">bib</a>)</li>
                    </ul>
                    </h3>
                    <hr class="style-one">
                    <h4 class="section-subheading">Conference Papers:</h4>
                    <h3 class="section-subheading  text-muted">
                    <ul>
                      <li>Yuriy Zacchia Lun, Claudia Rinaldi, Amal Alrish, Alessandro D'Innocenzo, Fortunato Santucci (2020).<br>
                          <a style="color:black" href="https://infocom2020.ieee-infocom.org/accepted-paper-list-main-conference">On the impact of accurate radio link modeling on the performance of WirelessHART control networks</a>.<br>
                          Proceedings of the 39th IEEE Conference on Computer Communications (INFOCOM), to appear (See
                        <a style="color:black" target="_blank" href="pdfs/INFOCOM_2020_000.pdf">pdf</a>,
                        <a style="color:black" target="_blank" href="bibs/INFOCOM_2020_000.bib">bib</a>)</li>
                      <li>Yuriy Zacchia Lun, Alessandro D'Innocenzo (2019).<br>
                          <a style="color:black" href="https://doi.org/10.1109/CDC40024.2019.9029202">Stabilizability of Markov jump linear systems modeling wireless networked control scenarios</a>.<br>
                          Proceedings of the 58th IEEE Conference on Decision and Control (CDC), pp. 5766 - 5772. (See
                        <a style="color:black" target="_blank" href="pdfs/CDC_2019_5766.pdf">pdf</a>,
                        <a style="color:black" target="_blank" href="bibs/CDC_2019_5766.bib">bib</a>)</li>
                      <li>Yuriy Zacchia Lun, Alessandro Abate, Alessandro D'Innocenzo (2019).<br>
                          <a style="color:black" href="https://doi.org/10.23919/ECC.2019.8796279">Linear quadratic regulation of polytopic time-inhomogeneous Markov jump linear systems</a>.<br>
                          In Proceedings of the 18th European Control Conference (ECC), pp. 4094 - 4099. (See
                        <a style="color:black" target="_blank" href="pdfs/ECC_2019_4094.pdf">pdf</a>,
                        <a style="color:black" target="_blank" href="bibs/ECC_2019_4094.bib">bib</a>)</li>
                      <li>Amal Alrish, Yuriy Zacchia Lun, Alessandro D'Innocenzo, Fortunato Santucci (2019).<br>
                          <a style="color:black" href="https://doi.org/10.1109/WFCS.2019.8757917">Systematic Derivation of Accurate Analytic Markov Channel Models for Industrial Control</a>.<br>
                          In Proceedings of the 15th IEEE International Workshop on Factory Communication Systems (WFCS), pp. 1 - 4. (See
                        <a style="color:black" target="_blank" href="pdfs/WFCS_2019_1-4.pdf">pdf</a> of the article that won the best work in progress paper
                        <a style="color:black" target="_blank" href="img/award-WFCS-2019-BWiP.png">award</a>,
                        <a style="color:black" target="_blank" href="bibs/WFCS_2019_1-4.bib">bib</a>)</li>
                      <li>Yuriy Zacchia Lun, Jack Wheatley, Alessandro D'Innocenzo, Alessandro Abate (2018).<br>
                          <a style="color:black" href="https://doi.org/10.1016/j.ifacol.2018.08.016">Approximate Abstractions of Markov Chains with Interval Decision Processes</a>.<br>
                          In Proceedings of the 6th IFAC Conference on Analysis and Design of Hybrid Systems (ADHS): IFAC-PapersOnLine (51) 16, pp. 91 - 96. (See
                        <a style="color:black" target="_blank" href="pdfs/ADHS_2018_91.pdf">pdf</a>,
                        <a style="color:black" target="_blank" href="bibs/ADHS_2018_91.bib">bib</a>)</li>
                      <li>Yuriy Zacchia Lun, Alessandro D'Innocenzo, Alessandro Abate, Maria Domenica Di Benedetto (2017).<br>
                          <a style="color:black" href="https://doi.org/10.1109/CDC.2017.8264642">Optimal robust control and a separation principle for polytopic time-inhomogeneous Markov jump linear systems</a>.<br>
                          In Proceedings of the 56th IEEE Conference on Decision and Control (CDC), pp. 6525 - 6530. (See
                        <a style="color:black" target="_blank" href="pdfs/CDC_2017_6525.pdf">pdf</a>,
                        <a style="color:black" target="_blank" href="bibs/CDC_2017_6525.bib">bib</a>)</li>
                      <li>Yuriy Zacchia Lun, Alessandro D’Innocenzo, Maria Domenica Di Benedetto (2017).<br>
                          <a style="color:black" href="https://doi.org/10.1016/j.ifacol.2017.08.281">Robust LQR for time-inhomogeneous Markov jump switched linear systems</a>.<br>
                          In Proceedings of the 20th IFAC World Congress: IFAC-PapersOnLine (50) 1, pp. 2199 - 2204. (See
                        <a style="color:black" target="_blank" href="pdfs/IFAC_2017_2199.pdf">pdf</a>,
                        <a style="color:black" target="_blank" href="bibs/IFAC_2017_2199.bib">bib</a>)</li>
                      <li>Yuriy Zacchia Lun, Alessandro D'Innocenzo, Maria Domenica Di Benedetto (2017).<br>
                          <a style="color:black" href="https://doi.org/10.1016/j.ifacol.2017.08.838">Robust stability of time-inhomogeneous Markov jump linear systems</a>.<br>
                          In Proceedings of the 20th IFAC World Congress: IFAC-PapersOnLine (50) 1, pp. 3418 - 3423. (See
                        <a style="color:black" target="_blank" href="pdfs/IFAC_2017_3418.pdf">pdf</a>,
                        <a style="color:black" target="_blank" href="bibs/IFAC_2017_3418.bib">bib</a>)</li>
                      <li>Yuriy Zacchia Lun, Alessandro D'Innocenzo, Maria Domenica Di Benedetto (2016).<br>
                          <a style="color:black" href="https://doi.org/10.1109/CDC.2016.7799118">On stability of time-inhomogeneous Markov jump linear systems</a>.<br>
                          In Proceedings of the 55th IEEE Conference on Decision and Control (CDC), pp. 5527 - 5532. (See
                        <a style="color:black" target="_blank" href="pdfs/CDC_2016_5527.pdf">pdf</a>,
                        <a style="color:black" target="_blank" href="bibs/CDC_2016_5527.bib">bib</a>)</li>
                      <li>Stefano Tennina, Elli Kartsakli, Aristeidis Lalos, Angelos Antonopoulos, Prodromos-Vasileios Mekikis, Marco Di Renzo, Yuriy Zacchia Lun, Fabio Graziosi, Luis Alonso, Christos Verikoukist (2013).<br>
                          <a style="color:black" href="https://doi.org/10.1109/HealthCom.2013.6720683">WSN4QoL: Wireless Sensor Networks for Quality of Life</a>.<br>
                          In Proceedings of the 15th IEEE International Conference on e-Health Networking, Applications and Services (Healthcom), pp. 277 - 279.</li>
                      <li>Yuriy Zacchia Lun, Stefano Tennina, Marco Di Renzo, Fabio Graziosi, Christos Verikoukist (2013).<br>
                          <a style="color:black" href="http://dx.doi.org/10.1145/2517351.2517406">  Poster Abstract: WSN-aided people localization: A ray tracing network planning and performance analysis tool</a>.<br>
                          In Proceedings of the 11th ACM Conference on Embedded Networked Sensor Systems (SenSys), Article No. 36.</li>
                    </ul>
                    </h3>
                    <hr class="style-one">
                    <h4 class="section-subheading">PhD Thesis:</h4>
                    <h3 class="section-subheading  text-muted">
                    <ul>
                      <li>Yuriy Zacchia Lun (2017). Stability and optimal control of polytopic time-inhomogeneous Markov jump linear systems.
                          PhD dissertation. Gran Sasso Science Institute (GSSI), L'Aquila, Italy. Advisors: Maria Domenica Di Benedetto and Alessandro D'Innocenzo. (See
                          <a style="color:black" target="_blank" href="pdfs/GSSI_2017_PhD_Thesis_Zacchia_Lun.pdf">pdf</a>)</li>
                    </ul>
                    </h3>
                    <hr class="style-one">
                </div>
                <div class="col-lg-12" align="center">
                  <h1>
                  <a target="_blank" style="color:#333" href="https://scholar.google.it/citations?user=hY2qbx0AAAAJ&hl=en">
                    <i class="ai ai-google-scholar-square"></i></a> &nbsp;
                  <a target="_blank" style="color:#333" href="https://www.researchgate.net/profile/Yuriy_Zacchia_Lun">
                    <i class="ai ai-researchgate-square"></i></a> &nbsp;
                  <a target="_blank" style="color:#333" href="https://www.mendeley.com/profiles/yuriy-zacchia-lun/">
                    <i class="ai ai-mendeley-square"></i></a>
                    </h1>
                </div>
            </div>
        </div>
    </section>
